<div class="remove-container container-block">
  <h4 class="container-block-title">
    Profile
  </h4>
  <hr style="margin-top: -10px;">
  <div>
    컴퓨터 공학과를 전공한 후, 네트워크 관련 분야에서 서비스 개발을 진행해 왔습니다. 현재는 KT NMS 및 관련 무선 서비스의 서버, 클라이언트 개발을 진행하고 있습니다.
  </div>
  <!-- <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://www.youtube.com/watch?v=Jnmj1dXDbNk">How to use?</a></li>
     <li><a class="github-button" href="https://github.com/sharu725/online-cv" data-icon="octicon-star" data-show-count="true" aria-label="Star sharu725/online-cv on GitHub">Star</a>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
  </ul> -->
</div><!--//About-->