{% assign certificates = site.data.data.certificates %}
{% if certificates %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ certificates.title }}
  </h2>

  <div class="skillset">

    {% for certificate in certificates.toolset %}
    <div class="item">

      <h3 class="level-title">{{ certificate.name }}</h3>

      {% if certificate.details %}
      <div class="details">
        {{ certificate.details | markdownify }}
      </div><!--//details-->
      {% endif %}
      
    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
